name: Build the site with MkDocs

on:
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 1

      - name: Install uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7

      - name: Install the project
        run: uv sync --locked

      - name: Build the site with MkDocs
        run: uv run mkdocs build --strict
